#Accept the VMware End User License Agreement
vmaccepteula

# clear paritions and install
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs --novmfsondisk

#set the root password
rootpw VMware123

#Host Network Settings
network --bootproto=dhcp --device=vmnic0

reboot

#Firstboot section 1
%firstboot --interpreter=busybox

sleep 30

#Enter Maintenance mode
vim-cmd hostsvc/maintenance_mode_enter

#enable & start remote ESXi Shell (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

#enable & start ESXi Shell (TSM)
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

#suppress Shell Warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /UserVars/ESXiShellTimeOut -i 1

#Firstboot Section 2
%firstboot --interpreter=busybox

#Disable IPv6
esxcli network ip set --ipv6-enabled=false

#Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

# Exit Maintenance Mode
vim-cmd hostsvc/maintenance_mode_exit

#Reboot
sleep 30
reboot
